<html>
<head>
   <link type="text/css" rel="stylesheet" href="/static/main.css" />
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
 </head>
   <body>
    <!--  Header -->
    {% include "nav.html" %}
      <form action="/submitTicker" method="post">
            <div align="center">           
         

<p class="ex1">
&nbsp;&nbsp;
<p class="ex1">
&nbsp;&nbsp;
<b>Demo Application that Invokes the MasterCard API's ( Sandbox): </b> 
&nbsp;&nbsp;

         </form>
   </body>
 </html>
